<p>
Hi <%= @person.name %>.  Please accept or reject the following Pivotal Tracker items.
</p>

<ul>
  <% @stories.each do |story| %>
    <li>
      <a href="<%=story.url%>"><%= story.name %> </li>
    </li>
  <% end %>
</ul>

